*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); /* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); /* Playfair Display */

:root {
    --ff-primary: 'Playfair Display', serif;
    --ff-secondary: futura-pt;

    --clr-light: rgb(255, 255, 255);
    --clr-dark: #000;
    --clr-accent: rgb(105, 105, 105);
}

body, p, a, ul, li {
    text-decoration: none;
}

li {
    list-style-type: none;
}

element.style {
    white-space: pre-wrap;
}

body {
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .06em;
    line-height: 1.8em;
    text-transform: none;
    color: var(--clr-dark);
}

section {
    padding: 5em 2em;
}

.back-btn {
    text-align: center;
    margin-top: 2rem;
}

.back-btn i {
    color: var(--clr-light);
    font-size: 22px;
}

.back-btn i:hover {
    color: var(--clr-accent);
}

/* Nav */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: var(--clr-dark);
    font-family: var(--ff-secondary);
    border-bottom: 1px solid var(--clr-accent);
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.image-logo{
    max-width: 230px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    filter: invert(100%) grayscale(100%); /* filter changes the color of the logo */
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: var(--clr-light);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
}

.nav-links a:hover {
    color: var(--clr-accent);
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--clr-light);
    margin: 5px;
    transition: all 0.3s ease;
}
/* End of Nav */

.box{
    width: 100%;
    height: 500px;
    padding: 60px 40px;
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

.box p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.box h1 {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: .01em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

/* HOME PAGE */

/*
    Original image has a size of 4972x3315.
    Aspect ratio as a percentage = 66%.
    3315 (height) / 4972 (width) = .66 === 66%.
    This is what the padding top should be = to.
*/
.section-home-1 {
    position: relative;
    width: 100%;
    padding-top: 66%;
    margin-top: 80px;
    background: url(assets/images/Portfolio_images/Hebronhouse/Final\ \(104\ of\ 121\).jpg) no-repeat center;
    background-size: cover;
}

.section-home-1 .text {
    position: absolute;
    top: 30%;
    left: 5%;
}

.section-home-1 .text h1 {
    color: var(--clr-light);
    text-shadow: 2.5px 2.5px var(--clr-dark);
    font-family: var(--ff-primary);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn {
    float: right;
    background: rgb(105, 105, 105, .4);
    border: 2px solid var(--clr-light);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-light);
    border-radius: 35px;
    text-transform: uppercase;
    font-family: var(--ff-primary);
    text-shadow: none;
}

.btn:hover {
    background: var(--clr-light);
    color: var(--clr-dark);

}

.section-home-3 {
    position: relative;
    width: 100%;
    padding-top: 47%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/images/GlacierHighline.jpg) no-repeat center;
    background-size: cover;
}

.section-home-3 .text {
    position: absolute;
    left: 5%;
    top: 45%;
    
}

.section-home-3 h1 {
    color: var(--clr-light);
    text-transform: uppercase;
    font-family: var(--ff-primary);
}

.section-home-3 .text p {
    text-align: justify;
    color: var(--clr-light);
}

/* END HOME PAGE */


/* ABOUT SECTION */
/*
    Original image has a size of 2000x1333.
    Aspect ratio as a percentage = 66%.
    1333 (height) / 2000 (width) = .66 === 66%.
    This is what the padding top should be = to.
*/
.section-about {
    position: relative;
    width: 100%;
    padding-top: 66%;
    margin-top: 80px;
    background: url(assets/images/aboutus.jpg) no-repeat center;
    background-size: cover;
}
.section-about .text {
    position: absolute;
    top: 35%;
    left: 5%;

}

.section-about .text h1 {
    font-size: 3.5rem;
    color: var(--clr-light);
    text-shadow: 2px 2px var(--clr-dark);
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-section {
    display: grid;
    grid-template-columns: .5fr 1fr;
    min-height: 90vh;
    width: 100vw;
    margin: 0 auto;
    background-color: var(--clr-dark);
}

.about-img {
   text-align: center;
}

.about-img img {
    max-width: 100%;
    height: auto;
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--clr-light);
}

.about-section__title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
    opacity: 0.9;
    color: var(--clr-light);
    letter-spacing: 2px;
}

.content span {
    height: 0.5px;
    width: 80px;
    background: var(--clr-light);
    margin: 30px 0;
}

.content p {
    padding-bottom: 15px;
    font-weight: 300;
    margin: 0 auto;
    line-height: 1.7;
    color: var(--clr-light);
}

.about-paragraph {
    margin-bottom: 1px;
    font-family: var(--ff-secondary);
    text-align: justify;
    width: 70%;
}

.links li{
    border: 0.5px solid var(--clr-light);
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}

.links a {
    text-transform: uppercase;
    color: var(--clr-light);
}

.links li:hover {
    border-color: var(--clr-accent);
}

.links li:hover a {
    color: var(--clr-accent);
}

.vertical-line {
    height: 30px;
    width: 0.5px;
    background: var(--clr-light);
    margin: 0 auto;
}

.social {
    display: flex;
    padding: 15px 0;
}

.social li {
    display: block;
    padding: 5px;
    margin: 5px;
}

.social li i {
    font-size: 26px;
    color: var(--clr-light);
    opacity: 0.8;
}

.social li i:hover {
    color: var(--clr-accent);
}

/**********************/

@media(max-width: 992px) {
    .about-section {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .content h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .content span {
        margin: 20px 0;
    }

    .content p {
        font-size: 14px;
    }

    .links li a {
        font-size: 14px;
    }

    links {
        margin: 5px 0;
    }

    .social li i {
        font-size: 15px;
    }
}

/* END ABOUT SECTION */


/* PORTFOLIO SECTION */
/*
    Original image has a size of 2000x1356.
    Aspect ratio as a percentage = 67%.
    1356 (height) / 2000 (width) = .67 === 67%.
    This is what the padding top should be = to.
*/
.section-portfolio {
    position: relative;
    width: 100%;
    padding-top: 68%;
    margin-top: 80px;
    background: url(assets/images/Portfolio_images/TheLodge/Final-100.jpg) no-repeat center;
    background-size: cover;
}

.section-portfolio .text {
    position: absolute;
    top: 45%;
    left: 5%;
}

.section-portfolio .text h1 {
    font-size: 3.5rem;
    color: var(--clr-light);
    text-shadow: 2px 2px var(--clr-dark);
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.portfolio-section {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.portfolio-section__title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
    opacity: 0.9;
    color: var(--clr-light);
    text-align: center;
}

/* Responsive Image Gallery */

.img-area img {
    display: block;
    width: 100%;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img {
    margin: 1rem;
    position: relative;
    width: 45%;
    opacity:.6;
    transition: .3s ease-in-out;
}

.overlay-text {
color: white;
font-size: 20px;
text-shadow: 2.0px 2.0px var(--clr-dark);
position: absolute;
text-transform: uppercase;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

.single-img:hover {
    opacity: 1;
}

/* End Image Overlay */

@media screen and (max-width: 1024px) {
    .single-img {
        width: 40%;
    }
}

@media screen and (max-width: 812px) {
    .single-img {
        width: 75%;
    }
}
/* End Responsive Image Gallery */

/****************************************************************/

/* Modal Lightbox */

#slideshow {
    background: var(--clr-dark);
    margin-top: 4.5rem;
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* float: left; */
    /* width: 50%; */
  }

  .column img {
      width: 45%;
      margin: 1rem;
  }

  @media screen and (max-width: 812px) {
    .column img {
        width: 75%;
    }
}
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: var(--clr-dark);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /****************************************************************/


@media screen and (min-width:280px) and (max-width: 767px) {
    .box{
        padding: 1px 5px;
    }
}

/* END PORTFOLIO SECTION */


/* CONTACT SECTION */
/*
    Original image has a size of 2000x1333.
    Aspect ratio as a percentage = 66%.
    1333 (height) / 2000 (width) = .66 === 66%.
    This is what the padding top should be = to.
*/
.section-contact {
    position: relative;
    width: 100%;
    padding-top: 66%;
    margin-top: 75px;
    background: url(assets/images/Portfolio_images/Hebronhouse/Final\ \(14\ of\ 121\).jpg) no-repeat center;
    background-size: cover;
}

.section-contact .text {
    position: absolute;
    top: 35%;
    left: 5%;
}

.section-contact .text h1 {
    font-size: 3.5rem;
    color: var(--clr-light);
    text-shadow: 2px 2px var(--clr-dark);
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
}

#contact-section{
    padding: 0px;
    margin: 0 auto;
    font-family: sans-serif;
    background-image: url(assets/images/contactbackground.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
}

.hidden {
    visibility: hidden;
}

.contact-content {
    padding-top: 7rem;
}

.contact-content p {
    font-family: var(--ff-secondary);
}

.content-section__title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
    opacity: 0.9;
    color: var(--clr-light);
    text-align: center;
    letter-spacing: 2px;
}

.contact-icons {
    width: 90%;
    margin: 0 auto;
    padding-left: 7rem;
    margin-left: 5rem;
}

.contact-form i.fa{
    font-size: 16px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    border-radius: 80%;
    cursor: pointer;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
}

.contact-form i.fa:hover{
    border: 2px solid #fff;
    color: var(--clr-light);
}

.contact-link {
    color: var(--clr-light);
}

.contact-link:hover {
    color: var(--clr-accent);
}

.contact-form{
    display: flex;
    justify-content: center;
}

.contact-form form {
    padding-right: 7rem;
    margin-right: 3rem;
}

.form-info{
    font-size: 16px;
    font-style: italic;
    color: var(--clr-light);
    letter-spacing: 2px;
    font-family: var(--ff-secondary);
}

.field {
    padding: 10px;
    margin: 10px;
    width: 65%;
    font-size: 1.1rem;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    border: none;
    border-radius: 5px;
    outline: none;
}

.field::placeholder {
    color: var(--clr-dark);
    font-family: var(--ff-secondary);
    letter-spacing: 1px;
}

.contact-btn {
    background: none;
    border: 2px solid var(--clr-light);
    padding: 10px;
    font-size: 16px;
    width: 67%;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-light);
    border-radius: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: var(--ff-primary);
    text-shadow: none;
}

.contact-btn:hover {
    background: var(--clr-light);
    color: var(--clr-accent);
}

#contact-section .container p{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Contact Media Queries */
@media screen and (max-width: 768px){
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }

    .contact-content {
        margin-bottom: 1rem;
    }

    #contact-section .submit{
        width: 60%;
    }

    .contact-btn {
        font-size: 12px;
    }

    .contact-form form {
        margin: 0;
        padding: 0;
    }

    .contact-form input {
        font-size: .9rem;
        width: 70%;
    }

    .contact-form textarea {
        width: 70%;
    }

    input::placeholder{
        font-size: .9rem;
    }

    .contact-icons {
        margin: 0 auto;
        padding: 0;
        margin-bottom: 2rem;
    }

    .contact-form i.fa{
        font-size: 11px;
    }

    .form-info{
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px){
    /* .dot is the circles/dots under the image slide show */
    .dot {
        display: none;
    }

    .contact-icons {
        width: 100%;
        padding-left: 0;
    }

    .contact-form form {
        padding-right: 0;
        margin-right: 0;
    }

    .contact-form i.fa{
        font-size: 12px;
    }
}
/* End Contact Media Queries*/

/* END CONTACT SECTION */

/* SERVICES SECTION */
/*
    Original image has a size of 2000x1333.
    Aspect ratio as a percentage = 66%.
    427 (height) / 640 (width) = .66 === 66%.
    This is what the padding top should be = to.
*/
.section-services {
    position: relative;
    width: 100%;
    padding-top: 66%;
    margin-top: 70px;
    background: url(./assets/images/services.jpg) no-repeat center;
    background-size: cover;
}

.section-services .text {
    position: absolute;
    top: 35%;
    left: 5%;
}

.section-services .text h1 {
    font-size: 3.5rem;
    color: var(--clr-light);
    text-shadow: 2px 2px var(--clr-dark);
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.services-section__title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
    opacity: 0.9;
    color: var(--clr-light);
    text-align: center;
    letter-spacing: 2px;
}

.services-section{
   padding: 60px 0;
   background-color: black;
}

.section-title{
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
    font-family: var(--ff-primary);
}

.border{
    width: 160px;
    height: 2px;
    background: #ddd;
    margin: 40px auto;
}

.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box{
    max-width: 35%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #ddd;
    color: #ddd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3 linear;
}

.service-icon i{
    line-height: 65px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.service-icon-img {
    height: 35px;
    width: 35px;
    transform: rotate(-45deg);
    filter: invert(100%) grayscale(100%); /* filter changes the color of the logo */
    margin-bottom: 30px;
    margin-top: 16px;
}

.service-box:hover .service-icon{
    background: lightblue;
    color: black;
}

.service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc{
    font-size: 14px;
    font-family: var(--ff-secondary);
}

@media screen and (max-width:960px) {
    .service-box{
        max-width: 45%;
    }
}

@media screen and (max-width:768px) {
    .service-box{
        max-width: 50%;
    }
}

@media screen and (max-width:480px) {
    .service-box{
        max-width: 100%;
    }
}

/* END SERVICES SECTION */

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-dark);
    box-sizing: border-box;
    text-align: left;
    color: var(--clr-light);
    padding: 50px 50px 60px 50px;
    padding-top: 15em;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer .footer-bottom {
    display: flex;
    justify-content: flex-end;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    color: var(--clr-light);
}

.footer-links a:hover {
    color: var(--clr-accent);
}

.footer-center {
    text-align: center;
}


.footer-icons i {
    color: var(--clr-light);
    font-size: 26px;
}

.footer-icons i:hover {
    color: var(--clr-accent);
}


.footer-right {
    text-align: center;
}
.copyright {
    font-size: 15px;
}


/* End Footer */



/******************** MEDIA QUERIES *************************/

@media screen and (min-width: 280px) and (max-width: 374px) {
body {
    line-height: unset;
}

.btn {
    padding: 7px;
    font-size: 8.5px;
 }

 .text h1 {
    font-size: 11px;
}

.section-home-1 .text h1 {
    font-size: 8.5px;
}

.section-home-3 .text {
    width: 40%;
}

.section-home-3 h1 {
    font-size: 10px;
}

.section-home-3 p {
    font-size: 8px;
}

.section-home-2 p {
    font-size: 16px;
}

 .section-portfolio .text h1 {
    font-size: 26px;
}

.section-about .text h1 {
    font-size: 30px;
}

.section-contact .text h1 {
    font-size: 30px;
}

.section-services .text h1 {
    font-size: 30px;
}

.single-img {
    width: 100%;
}

.section-home-1 {
    margin-top: 98px;
}

.footer {
    padding: 0;
}

.copyright {
    font-size: 14px;
}

.image-logo{
    max-width: 200px;
}

.section-home-4 h1{
    margin-top: 2rem;
    font-size: 24px;
}

.section-home-4 p {
    font-size: 12px;
}
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .section-home-1 {
        margin-top: 85px;
    }
}

@media screen and (min-width: 375px) and (max-width: 667px) {
    .section-home-1 {
        margin-top: 90px;
    }

    body {
        line-height: unset;
    }

    .btn {
        padding: 7px;
        font-size: 11px;
     }

     .section-home-1 .text h1 {
        font-size: 11px;
    }

    .section-portfolio .text h1 {
        font-size: 1.5rem;
    }

    .section-about .text h1 {
        font-size: 1.5rem;
    }

    .section-services .text h1 {
        font-size: 1.5rem;
    }

    .section-contact .text h1 {
        font-size: 1.5rem;
    }

    .section-home-2 p {
        margin-top: 3rem;
    }

    .section-home-3 .text {
        width: 35%;
    }

    .section-home-3 h1 {
        font-size: 12px;
    }

    .section-home-3 p {
        font-size: 10px;
    }
}

@media screen and (min-width: 281px) and (max-width: 767px) {

    .box h1{
        margin-top: 2rem;
        font-size: 24px;
    }
 }

 @media screen and (min-width: 411px) and (max-width: 767px) {
    .section-portfolio .text h1{
       font-size: 35px;
    }

    .section-about .text h1{
        font-size: 35px;
    }

    .section-contact .text h1{
        font-size: 35px;
    }

    .section-home-1 {
        margin-top: 90px;
    }

    .section-home-1 .text h1 {
        font-size: 12.5px;
    }

    .btn {
        padding: 7px;
        font-size: 12px;
    }

    .section-home-3 .text{
        width: 35%;
    }

    .section-home-3 .text h1 {
        font-size: 12px;
    }
    .section-home-3 .text p {
        font-size: 11px;
    }

 }

 @media screen and (min-width: 1024px) and (max-width: 1279px) {

    .section-portfolio .text {
        margin-top: 35rem;
    }

    .section-about .text {
        margin-top: 35rem;
    }

    .section-contact .text {
        margin-top: 35rem;
        font-size: 35px;
    }
 }

@media screen and (max-width: 880px) {
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        padding: 10px;
    }

    .footer {
        flex-direction: column;
    }

    .about-paragraph {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about-paragraph {
        width: 70%;
    }

    .section-home-1 {
        margin-top: 150px;
    }

    .section-home-1 .text h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--clr-dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    .nav-links a{
        margin-top: 3rem;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.Header-nav{
    font-family: var(--ff-primary);
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .2em;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1em;
}

.Header-nav-item{
    margin: 0 .8em;
    margin-top: 0px;
    margin-right: 0.8em;
    margin-bottom: 0px;
    margin-left: 0.8em;
    padding: .618em 0;
    padding-top: 0.618em;
    padding-right: 0px;
    padding-bottom: 0.618em;
    padding-left: 0px;
}
