*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

element.style {
    white-space: pre-wrap;
}

body {
    font-family: futura-pt;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    letter-spacing: .06em;
    line-height: 1.8em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.7);
}

/* Nav */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.image-logo{
    max-width: 230px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    filter: invert(100%) grayscale(100%); /* filter changes the color of the logo */
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
}

.nav-links a:hover {
    color: dimgray;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}
/* End of Nav */

.box{
    width: 100%;
    height: 600px;
    padding: 40px 60px;
    color: #000;
    
}

.box p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.box h1 {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    letter-spacing: .01em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.section-1 {
    height: 85vh;
    background-image: url(image/Final-127.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.section-1-text {
    float: left;
    color: white;
    text-shadow: 2px 2px black;
    margin-top: 30px;
}

.section-1-text button {
    float: right;
    background: none;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: Playfair Display;;
}

.section-1-text button:hover {
    background: #fff;
    color: black;

}

.section-3 {
    height: 85vh;
    background-image: url(image/Final-6.jpg);
    background-attachment: fixed;
    background-size: cover;  
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    box-sizing: border-box;
    text-align: left;
    color: #fff;
    padding: 50px 50px 60px 50px;   
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer .footer-bottom {
    display: flex;
    justify-content: flex-end;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    color: #fff;
}

.footer-links a:hover {
    color: dimgray;
}

.footer-center {
    text-align: center;
}


.footer-icons i {
    color: #fff;
    font-size: 26px;
}

.footer-icons i:hover {
    color: dimgray;
}


.footer-right {
    text-align: center;
}
.copyright {
    font-size: 15px;
}


/* End Footer */


@media screen and (max-width: 768px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }  
}

@media screen and (max-width: 880px) {
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        padding: 10px;
    }

    .footer {
        flex-direction: column-reverse;
    }
}


@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .box h1{
        font-size: 35px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.Header-nav{
    font-family: Playfair Display;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .2em;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1em;
}

.Header-nav-item{
    margin: 0 .8em;
    margin-top: 0px;
    margin-right: 0.8em;
    margin-bottom: 0px;
    margin-left: 0.8em;
    padding: .618em 0;
    padding-top: 0.618em;
    padding-right: 0px;
    padding-bottom: 0.618em;
    padding-left: 0px;
}
