*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); /* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); /* Playfair Display */

:root {
    --ff-primary: 'Playfair Display', serif;
    --ff-secondary: futura-pt;

    --clr-light: #fff;
    --clr-dark: #000;
    --clr-accent: rgb(105, 105, 105);
}

body, p, a, ul, li {
    text-decoration: none;
}

li {
    list-style-type: none;
}

element.style {
    white-space: pre-wrap;
}

body {
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .06em;
    line-height: 1.8em;
    text-transform: none;
    color: var(--clr-dark);
}

section {
    padding: 5em 2em;
}

/* Nav */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: var(--clr-dark);
    font-family: var(--ff-secondary);
    border-bottom: 1px solid var(--clr-accent);
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.image-logo{
    max-width: 230px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    filter: invert(100%) grayscale(100%); /* filter changes the color of the logo */
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: var(--clr-light);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px;
}

.nav-links a:hover {
    color: var(--clr-accent);
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--clr-light);
    margin: 5px;
    transition: all 0.3s ease;
}
/* End of Nav */

.box{
    width: 100%;
    height: 500px;
    padding: 60px 40px;
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

.box p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.box h1 {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: .01em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

/* HOME PAGE */
.section-home-1 {
    width: 100%;
    padding-top: 66%;
    margin-top: 120px;
    background: url(assets/images/Final-53.jpg) no-repeat center;
    background-size: cover;
}

.section-home-1 .text {
    float: left;
    color: var(--clr-light);
    text-shadow: 2.5px 2.5px var(--clr-dark);
    /* margin-top: 25px;
    padding-top: 2rem;
    margin-top: 15rem; */
}

.btn {

    float: right;
    background: none;
    border: 2px solid var(--clr-light);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-light);
    border-radius: 35px;
    text-transform: uppercase;
    font-family: var(--ff-primary);
    text-shadow: none;
}

.btn:hover {
    background: var(--clr-light);
    color: var(--clr-dark);

}

.section-home-3 {
    width: 100%;
    padding-top: 47%;
    background: url(assets/images/tower.webp) no-repeat center;
    background-size: cover;
}

.section-home-3 .text {
    float: right;
    margin-top: 10rem;
    text-shadow: 2.5px 2.5px var(--clr-dark);

}

.section-home-3 .text p {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .section-home-1 .text {
        margin-top: 25px;
        padding-top: 2rem;
        margin-top: 10rem;
    }


.box h1 {
    font-size: 40px;
}

}

/* END HOME PAGE */


/* ABOUT SECTION */
.section-about {
    height: 100vh;
    background-image: url(assets/images/Final-86.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.section-about .text {
    float: left;
    color: var(--clr-light);
    text-shadow: 2px 2px var(--clr-dark);
    margin-top: 15rem;
    padding-top: 2rem;
}

.section-about .text h1 {
    font-size: 60px;
}

.about-section {
    display: grid;
    grid-template-columns: .5fr 1fr;
    min-height: 90vh;
    width: 100vw;
    margin: 0 auto;
    background-color: var(--clr-dark);
}

.about-img {
   text-align: center;
}

.about-img img {
    max-width: 100%;
    height: auto;
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--clr-light);
}

.about-section__title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
    opacity: 0.9;
    color: var(--clr-light);
    letter-spacing: 2px;
}

.content span {
    height: 0.5px;
    width: 80px;
    background: var(--clr-light);
    margin: 30px 0;
}

.content p {
    padding-bottom: 15px;
    font-weight: 300;
    margin: 0 auto;
    line-height: 1.7;
    color: var(--clr-light);
}

.about-paragraph {
    margin-bottom: 1px;
    font-family: var(--ff-secondary);
    text-align: justify;
    width: 70%;
}

.links li{
    border: 0.5px solid var(--clr-light);
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}

.links a {
    text-transform: uppercase;
    color: var(--clr-light);
}

.links li:hover {
    border-color: var(--clr-accent);
}

.links li:hover a {
    color: var(--clr-accent);
}

.vertical-line {
    height: 30px;
    width: 0.5px;
    background: var(--clr-light);
    margin: 0 auto;
}

.social {
    display: flex;
    padding: 15px 0;
}

.social li {
    display: block;
    padding: 5px;
    margin: 5px;
}

.social li i {
    font-size: 26px;
    color: var(--clr-light);
    opacity: 0.8;
}

.social li i:hover {
    color: var(--clr-accent);
}

/**********************/

@media(max-width: 992px) {
    .about-section {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .content h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .content span {
        margin: 20px 0;
    }

    .content p {
        font-size: 14px;
    }

    .links li a {
        font-size: 14px;
    }

    links {
        margin: 5px 0;
    }

    .social li i {
        font-size: 15px;
    }
}

/* END ABOUT SECTION */


/* PORTFOLIO SECTION */
.section-portfolio {
    height: 100vh;
    background-image: url(assets/images/Final-100.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.section-portfolio .text {
    float: left;
    color: var(--clr-light);
    text-shadow: 2px 2px var(--clr-dark);
    margin-top: 15rem;
    padding-top: 2rem;
    letter-spacing: 2px;
}

.section-portfolio .text h1 {
    font-size: 60px;
}

.portfolio-section {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.portfolio-section__title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
    opacity: 0.9;
    color: var(--clr-light);
    text-align: center;
}

/* Responsive Image Gallery */

.img-area img {
    display: block;
    width: 100%;
    /* height: auto; */
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img {
    margin: 1rem;
    position: relative;
    width: 35%;
}

/* Image Overlay */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .7s ease-in-out;
    background-color: rgba(105, 105, 105, .5);
  }

  .overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.single-img:hover .overlay {
    opacity: 1;
}

/* End Image Overlay */

@media screen and (max-width: 1024px) {
    .single-img {
        width: 40%;
    }
}

/* End Responsive Image Gallery */

/* Image Carousel */
#carousel {
    background: var(--clr-dark);
    color: var(--clr-light);
    padding-top: 5rem;
    margin-top: 5rem;
}

.carousel {
    position: relative;
    height: 550px;
    width: 70%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.carousel__track-container {
    background-color: var(--clr-dark);
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition-duration: .5ms;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button i {
    color: var(--clr-light);
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 29px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    background: var(--clr-light);
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: var(--clr-accent);
}

.is-hidden { display: none; }



@media screen and (min-width: 768px) and (max-width: 1024px) {
    .carousel {
        width: 63%;
    }

    .carousel__track-container {
        margin-top: 8rem;
    }

}

@media screen and (min-width:280px) and (max-width: 767px) {
    .carousel {
        width: 90%;
    }

    .carousel__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .carousel__track-container {
        margin-top: 4rem;
        height: 50%;
    }

    .carousel__button--left {
        top: 135px;
    }

    .carousel__button--right {
        top: 135px;
    }

    .carousel__indicator {
        display: none;
    }

    .box{
        padding: 1px 5px;
    }
}

/* @media screen and (min-width: 280px) and (max-width: 375) {
   section-home-2 p {
        font-size: 12px;
    }
} */

/* END PORTFOLIO SECTION */


/* CONTACT SECTION */

.section-contact {
    height: 100vh;
    background-image: url(assets/images/Final-77.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.section-contact .text {
    float: left;
    color: var(--clr-light);
    text-shadow: 2px 2px var(--clr-dark);
    margin-top: 15rem;
    padding-top: 2rem;
}

.section-contact .text h1 {
    font-size: 60px;
}

#contact-section{
    padding: 0px;
    margin: 0 auto;
    font-family: sans-serif;
    background-image: url(assets/images/contactbackground.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
}

.contact-content {
    padding-top: 7rem;
}

.contact-content p {
    font-family: var(--ff-secondary);
}

.content-section__title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: var(--ff-primary);
    letter-spacing: 3px;
    opacity: 0.9;
    color: var(--clr-light);
    text-align: center;
    letter-spacing: 2px;
}

.contact-icons {
    width: 90%;
    margin: 0 auto;
    padding-left: 7rem;
    margin-left: 5rem;
}

.contact-form i.fa{
    font-size: 16px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    border-radius: 80%;
    cursor: pointer;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
}

.contact-form i.fa:hover{
    border: 2px solid #fff;
    color: var(--clr-light);
}

.contact-email-link {
    color: var(--clr-light);
}

.contact-email-link:hover {
    color: var(--clr-accent);
}

.contact-form{
    display: flex;
    justify-content: center;
}

.contact-form form {
    padding-right: 7rem;
    margin-right: 3rem;
}

.form-info{
    font-size: 16px;
    font-style: italic;
    color: var(--clr-light);
    letter-spacing: 2px;
    font-family: var(--ff-secondary);
}

input{
    padding: 10px;
    margin: 10px;
    width: 65%;
    font-size: 1.1rem;
    background-color: var(--clr-light);
    color: var(--clr-accent);
    border: none;
    border-radius: 5px;
    outline: none;
}

input::placeholder{
    color: var(--clr-accent);
    font-family: var(--ff-secondary);
}

textarea{
    padding: 10px;
    margin: 10px;
    width: 65%;
    background-color: var(--clr-light);
    color: var(--clr-accent);
    border: none;
    border-radius: 5px;
    outline: none;
}

textarea::placeholder{
    color: var(--clr-accent);
    font-family: var(--ff-secondary);
    letter-spacing: 1px;
}

.contact-btn {
    background: none;
    border: 2px solid var(--clr-light);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-light);
    border-radius: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: var(--ff-primary);
    text-shadow: none;
}

.contact-btn:hover {
    background: var(--clr-light);
    color: var(--clr-accent);
}

#contact-section .container p{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Contact Media Queries */
@media screen and (max-width: 768px){
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }

    body {
        font-size: 14px;
    }

    .contact-content {
        margin-bottom: 1rem;
    }

    #contact-section .submit{
        width: 60%;
    }

    .contact-btn {
        font-size: 12px;
    }

    .contact-form form {
        margin: 0;
        padding: 0;
    }

    .contact-form input {
        font-size: .5rem;
        width: 70%;
    }

    .contact-form textarea {
        width: 70%;
    }

    input::placeholder{
        font-size: .9rem;
    }

    .contact-icons {
        margin: 0 auto;
        padding: 0;
        margin-bottom: 2rem;
    }

    .contact-form i.fa{
        font-size: 11px;
    }

    .form-info{
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px){
    .contact-icons {
        width: 100%;
        padding-left: 0;
    }

    .contact-form form {
        padding-right: 0;
        margin-right: 0;
    }

    .contact-form i.fa{
        font-size: 12px;
    }
}
/* End Contact Media Queries*/

/* END CONTACT SECTION */

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-dark);
    box-sizing: border-box;
    text-align: left;
    color: var(--clr-light);
    padding: 50px 50px 60px 50px;
    padding-top: 15em;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer .footer-bottom {
    display: flex;
    justify-content: flex-end;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    color: var(--clr-light);
}

.footer-links a:hover {
    color: var(--clr-accent);
}

.footer-center {
    text-align: center;
}


.footer-icons i {
    color: var(--clr-light);
    font-size: 26px;
}

.footer-icons i:hover {
    color: var(--clr-accent);
}


.footer-right {
    text-align: center;
}
.copyright {
    font-size: 15px;
}


/* End Footer */

/* MEDIA QUERIES */


@media screen and (min-width: 280px) and (max-width: 375px) {
    .box h1{
        font-size: 20px;
    }

    .btn {
     font-size: 7px;
     padding: 7px;
     font-size: 11px;
 }

 .section-home-1 .text {
     margin-top: 10rem;
 }

 .section-portfolio .text h1 {
    font-size: 26px;
}

.section-about .text h1 {
    font-size: 30px;
}

.section-contact .text h1 {
    font-size: 30px;
}

.single-img {
    width: 100%;
}
}

@media screen and (min-width: 281px) and (max-width: 767px) {
    .section-home-1 .text {
        padding-top: 2rem;
        margin-top: 10rem;
    }

    .box h1{
        font-size: 24px;
    }

    .btn {
        float: none;
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
 }

 @media screen and (min-width: 411px) and (max-width: 823px) {
    .section-portfolio .text h1{
       font-size: 35px;
    }

    .section-about .text h1{
        font-size: 35px;
    }

    .section-contact .text h1{
        font-size: 35px;
    }
 }



 @media screen and (min-width: 768px) and (max-width: 1023px) {
     .section-home-1 .text {
         margin-top: 20rem;
     }

     .section-portfolio .text {
        margin-top: 25rem;
    }

    .section-about .text {
        margin-top: 25rem;
    }

    .section-contact .text {
        margin-top: 25rem;
    }

 }

 @media screen and (min-width: 1024px) and (max-width: 1279px) {
     .section-home-1 .text {
         margin-top: 25rem;
     }

    .section-portfolio .text {
        margin-top: 35rem;
    }

    .section-about .text {
        margin-top: 35rem;
    }

    .section-contact .text {
        margin-top: 35rem;
        font-size: 35px;
    }
 }


@media screen and (max-width: 767px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width: 880px) {
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        padding: 10px;
    }

    .footer {
        flex-direction: column;
    }

    .about-paragraph {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .about-paragraph {
        width: 70%;
    }
}


@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--clr-dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .box h1{
        font-size: 35px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.Header-nav{
    font-family: var(--ff-primary);
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .2em;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1em;
}

.Header-nav-item{
    margin: 0 .8em;
    margin-top: 0px;
    margin-right: 0.8em;
    margin-bottom: 0px;
    margin-left: 0.8em;
    padding: .618em 0;
    padding-top: 0.618em;
    padding-right: 0px;
    padding-bottom: 0.618em;
    padding-left: 0px;
}
